# EditorConfig files use INI format. A slash (/) is used as a path separator, and # or ; is used as a comment. Paths support wildcards:
# Indicates that it is the top-level configuration file. When it is found to be true, it will stop looking for the .editorconfig file
root = true

# * matches any character except /
# **    match any string
# ? matches any single character
# [name]    matches name characters
# [!name]   does not match name characters
# [s1,s2,s3]    matches the given string
# [num1..num2]  matches num1 to mun2 direct integers
[*]
# The charset of the file. There are the following types: latin1, utf-8, utf-8-bom, utf-16be, utf-16le
charset = utf-8
# Indent using tab or space
indent_style = space
# When indented as space, the number of characters to indent
indent_size = 2
# The width of the indent when the indent is tab
# tab_width = 2
# The type of newline character. lf, cr, crlf three
end_of_line = lf
# Whether to automatically remove whitespace at the end of the line
trim_trailing_whitespace = true
# whether to make the file end with a blank line
insert_final_newline = true